@import "susy";
//@include container; // establish a layout context

$susy: (
  //gutters: 1/4, // The size of a gutter in relation to a single column
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  debug: (
	image: show,
	color: blue,
	output: overlay,
	toggle: top right,
  ),
  use-custom: (
	background-image: true,
	background-options: false,
	box-sizing: true,
	clearfix: false,
	rem: true,
  )
);

// Elastic grid as percentages
$total-columns: 12;
$column-width   : 5em;
$gutter-width   : 2em;
$grid-padding: 2em;

$container-style: magic;
$container-width: 50em;

.gridable--row {
  @include container();
}

@for $i from 1 through 12 {
	.gridable--col.hand-span-#{$i} {
		//flex-basis: percentage($i/12);
		@include span( $i of 12 );
	  overflow: hidden;
	}
}