$gutenberg-border: #E0E5E9;

.gridable {
	&, *, *:before, *:after {
		box-sizing: border-box;
	}
}

.no_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// The Grid
[data-gridable-row] {
	display: flex;
	padding: 10px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[data-sh-column-attr-size] {
	flex: 0 0 100%;
}

@for $i from 1 through 12 {
	[data-sh-column-attr-size="#{$i}"] {
		flex-basis: percentage($i/12);
		width: percentage($i/12);
	}
}

.gridable {
	margin: 0 -1.5em;
	// border: 2px solid transparent;
	// transition: border-color .2s ease-out;
	
	&:after {
		content: "...";
		display: block;

		color: #86909B;
		font-size: 20px;
	    font-weight: bold;
	    
		position: absolute;
		left: -5px;
		top: 50%;
		margin-top: -15px;
		transform: rotate(90deg);

		opacity: 0;
		transition: opacity .2s;
	}

	> .col {
		// border-left: 1px solid transparent;
		
		position: relative;
		padding: 1.5em;
		display: inline-block;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		& * {
			-webkit-user-select: text; /* Chrome 49+ */
			-moz-user-select: text; /* Firefox 43+ */
			-ms-user-select: text; /* No support yet */
			user-select: text; /* Likely future */
		}

		transition: all .2s ease-out;

		&:first-child {
			border-left: 0;
		}
	}

	&:hover, &.is-focused {
		&, > .col {
			// border-color: $gutenberg-border;
		}
		
		// Hover Row
		& {
			
		}
	}

	// Row Hover
	&:hover {
		// box-shadow: inset 0px 0px 0px 2px $gutenberg-border;
	    // border: 2px dotted $gutenberg-border;
	    &:after {
			opacity: 1;
			cursor: pointer;
		}
	}

	// Row Focused
	&.is-focused {

	}
}

.gridable__handle {
	/* autoprefixer: off */
	position: absolute;
	top: 0;
	left: -0.5em;

	width: 1em;
	height: 100%;

	font-size: 24px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: col-resize !important;
	outline: none !important;

	&:after {
		content: "";

		position: absolute;
		top: 50%;
		left: 0;

		display: block;
		width: 1em;
		height: 1em;

		margin-top: -0.5em;

		background: url('../images/resize-column.svg') center center no-repeat;
		background-size: 100% 100%;
		opacity: 0;
		transition: opacity .2s ease-out;

		.gridable.has-handlers:hover > .col > & {
			// opacity: 1;
		}
	}

	.col:first-child > & {
		display: none;
	}
}

.gridable__content {
	overflow: hidden;
}

.gridable.grabbing {
	/* autoprefixer: off */

	&,
	* {
		cursor: move;
	}
}

// Following the WordPress Default Classes
.mce-content-body {
	// Change Outline Color for 
	// better consistency with Gridable
	*[contentEditable=false] { 

		*[contentEditable=true] { 
			&:hover {

			}

			&:focus {
				outline-color: $gutenberg-border;
			}
		}

		&[data-mce-selected] {
			outline-color: $gutenberg-border;
		}
	}

	// Gridable Specifics
	.row[contentEditable=false] { 
		position: relative;
		transition: box-shadow .2s ease-out;

		.col[contentEditable=true] { 
			
			// Hover State
			// Disable Outline 
			// Add a Left Border with Box Shadow
			&:hover {
				outline: none;   
			    box-shadow: inset 9px 0px 0px -7px $gutenberg-border;
			}

			// Selected State
			// Disable Outline 
			// Add an Outline Border with Box Shadow
			&:focus {
				outline: none;
				box-shadow: inset 0px 0px 0px 2px $gutenberg-border;
			}
		}

		&:hover {
			
		}

		&[data-mce-selected] {
			// Disable Outline 
			// Add an Outline Border with Box Shadow
			outline: none;
			box-shadow: inset 0px 0px 0px 2px $gutenberg-border;

			// Hide Row Ellipsis Menu
			&:after {
				display: none;
			}
		}
	}
}


