.gridable {
	&, *, *:before, *:after {
		box-sizing: border-box;
	}
}

.no_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// The Grid
[data-gridable-row] {
	display: flex;
	padding: 10px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[data-sh-column-attr-size] {
	flex: 0 0 100%;
}

@for $i from 1 through 12 {
	[data-sh-column-attr-size="#{$i}"] {
		flex-basis: percentage($i/12);
		width: percentage($i/12);
	}
}

.gridable {
	margin: 0 -1.5em;
	border: 1px solid transparent;
	transition: border-color .2s ease-out;

	> .col {
		border-left: 1px solid transparent;
		position: relative;
		padding: 1.5em;
		display: inline-block;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		& * {
			-webkit-user-select: text; /* Chrome 49+ */
			-moz-user-select: text; /* Firefox 43+ */
			-ms-user-select: text; /* No support yet */
			user-select: text; /* Likely future */
		}

		transition: all .2s ease-out;

		&:first-child {
			border-left: 0;
		}
	}

	&:hover, &.is-focused {
		&, > .col {
			border-color: #E6E6E6;
		}
	}
}

.gridable__handle {
	/* autoprefixer: off */
	position: absolute;
	top: 0;
	left: -0.5em;

	width: 1em;
	height: 100%;

	font-size: 24px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: col-resize;

	&:before {
		content: "";

		position: absolute;
		top: 50%;
		left: 0;

		display: block;
		width: 1em;
		height: 1em;

		margin-top: -0.5em;

		background: url('../images/resize-column.svg') center center no-repeat;
		background-size: 100% 100%;
		opacity: 0;
		transition: opacity .2s ease-out;

		.gridable.has-handlers:hover > .col > & {
			opacity: 1;
		}
	}

	.col:first-child > & {
		display: none;
	}
}

.gridable__content {
	overflow: hidden;
}

.gridable.grabbing {
	/* autoprefixer: off */

	&,
	* {
		cursor: move;
	}
}
