.row.gridable-mceItem {
	background: #ebebeb;
	border: 1px dashed #bbb;
	padding: 5px;
	position: relative;
}

.col.gridable-mceItem {
	position: relative;
	background: #fefefe;
	border: 1px dashed #bbb;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
// The Grid

[data-gridable-row] {
	display: flex;
	flex-flow: row wrap;
}

[data-sh-col-attr-size] {
	flex: 0 0 100%;
}

@for $i from 1 through 6 {
	[data-sh-col-attr-size="#{2*$i}"] {
		flex-basis: percentage($i/6)
	}
}

[data-sh-col-attr-size] {
	box-sizing: border-box;
	background: #EEE;
	padding: 10px;
}

//.resize_control {
//	background: #fff;
//	border: 0;
//	outline: 0 !important;
//	cursor: col-resize !important;
//
//	display: block;
//
//	width: 18px;
//	height: auto;
//
//	top: 5px;
//	bottom: 5px;
//
//	position: absolute;
//
//	z-index: 50;
//	background: url("../icons/icon.png");
//	background-repeat: no-repeat;
//	background-position: 0;
//	background-size: contain;
//}