.gridable--row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .gridable--row:after {
    content: " ";
    display: block;
    clear: both; }
  head {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999;
    color: #333;
    background: rgba(255, 255, 255, 0.25); }
  head:before {
    content: "|||";
    display: block;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold; }
  head:hover {
    background: rgba(255, 255, 255, 0.5);
    color: red; }
  head:hover ~ .gridable--row,
  head:hover ~ body .gridable--row {
    position: relative; }
    head:hover ~ .gridable--row:before,
    head:hover ~ body .gridable--row:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: linear-gradient(to right, blue, #4d4dff);
      background-size: 8.33333%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }

.gridable--col.hand-span-1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }

.gridable--col.hand-span-2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }

.gridable--col.hand-span-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }

.gridable--col.hand-span-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }

.gridable--col.hand-span-5 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }

.gridable--col.hand-span-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }

.gridable--col.hand-span-7 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }

.gridable--col.hand-span-8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }

.gridable--col.hand-span-9 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }

.gridable--col.hand-span-10 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }

.gridable--col.hand-span-11 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }

.gridable--col.hand-span-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  overflow: hidden; }
