.gridable, .gridable *, .gridable *:before, .gridable *:after { box-sizing: border-box; }

[data-gridable-row] { display: -ms-flexbox; display: flex; }

[data-sh-column-attr-size] { -ms-flex: 0 0 100%; flex: 0 0 100%; }

[data-sh-column-attr-size="1"] { -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; }

[data-sh-column-attr-size="2"] { -ms-flex-preferred-size: 16.66667%; flex-basis: 16.66667%; }

[data-sh-column-attr-size="3"] { -ms-flex-preferred-size: 25%; flex-basis: 25%; }

[data-sh-column-attr-size="4"] { -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; }

[data-sh-column-attr-size="5"] { -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; }

[data-sh-column-attr-size="6"] { -ms-flex-preferred-size: 50%; flex-basis: 50%; }

[data-sh-column-attr-size="7"] { -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; }

[data-sh-column-attr-size="8"] { -ms-flex-preferred-size: 66.66667%; flex-basis: 66.66667%; }

[data-sh-column-attr-size="9"] { -ms-flex-preferred-size: 75%; flex-basis: 75%; }

[data-sh-column-attr-size="10"] { -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; }

[data-sh-column-attr-size="11"] { -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; }

[data-sh-column-attr-size="12"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.gridable { margin: 0 -1.5em; border: 1px solid transparent; transition: border-color .2s ease-out; }
.gridable > .col { border-left: 1px solid transparent; position: relative; padding: 1.5em; transition: all .2s ease-out; }
.gridable > .col:first-child { border-left: 0; }
.gridable:hover, .gridable:hover > .col, .gridable.is-focused, .gridable.is-focused > .col { border-color: #E6E6E6; }

.gridable__handle { /* autoprefixer: off */ position: absolute; top: 0; left: -0.5em; width: 1em; height: 100%; font-size: 24px; cursor: col-resize; }
.gridable__handle:before { content: ""; position: absolute; top: 50%; left: 0; display: block; width: 1em; height: 1em; margin-top: -0.5em; background: url("../images/resize-column.svg") center center no-repeat; background-size: 100% 100%; opacity: 0; transition: opacity .2s ease-out; }
.gridable.has-handlers:hover > .col > .gridable__handle:before { opacity: 1; }
.col:first-child > .gridable__handle { display: none; }

.gridable__content { overflow: hidden; }

.gridable.grabbing { /* autoprefixer: off */ }
.gridable.grabbing, .gridable.grabbing * { cursor: move; }
